<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MakerLink{% endblock %}</title>
    <link href="/assets/bootstrap-5.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="/assets/htmx-2.0.5/htmx.min.js"></script>
    <script src="/assets/bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
